html,
body {
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header,
.score-panel {
  text-align: center;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul.stars li {
  display: inline;
}

.restart {
  display: inline-block;
}

ul.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 45%;
  margin: 0 auto;
  padding: 20px 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.card-container {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.card {
  display: flex;
  flex-basis: 19.5%;
  margin: 2%;
  height: 115px;
  border: 1px solid black;
  border-radius: 10px;
  align-content: center;
  justify-content: center;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
}

.flip-card {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.symbol {
  margin-top: 30px;
  font-size: 2.5em;
}
