html,
body {
  margin: 0;
  font-family: 'Chicle', cursive;
}

h1 {
  font-size: 3.5em;
  margin: 0;
  padding: 10px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header,
.score-panel {
  text-align: center;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul.stars li {
  display: inline;
}

.timer {
  margin-left: -35px;
}

.timer,
.moves,
.restart {
  margin-right: 25px;
}

.restart {
  display: inline-block;
}

ul.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  padding: 10px;
  background: black;
  border-radius: 10px;
}

.card-container {
  display: flex;
  flex-basis: 25%;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  border-radius: 10px;
}

.card {
  position: relative;
  flex-basis: 100%;
  margin: 2%;
  height: 115px;
  border: 1px solid black;
  border-radius: 10px;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115px;
  background: white;
  border-radius: 10px;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  background: red;
}

.flip-card {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.reset-card {
  -webkit-transform: rotateY( 0deg );
  -moz-transform: rotateY( 0deg );
  -o-transform: rotateY( 0deg );
  transform: rotateY( 0deg );
}

.symbol {
  position: absolute;
  top: 30%;
  left: 25%;
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  color: white;
}

.fa-bolt {
  left: 40% !important;
}

.fa-anchor,
.fa-cube,
.fa-bomb {
  left: 30% !important;
}

.restart {
  cursor: pointer;
}

.no-events {
  pointer-events: none;
}

/*--- Congratulations Modal ---*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-restart {
  display: inline-block;
  padding: 24px;
  cursor: pointer;
}
